$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Base colors definitions
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$login-yellow: #fae300 !default;

// Theme color default definitions
$body-color: #000 !default;
$default: #989898 !default;
$primary: #1D7FF1 !default;
$secondary: #18c79d !default;
$success: $green !default;
$info: #5d5d5d !default;
$warning: $yellow !default;
$danger: #eb5757 !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;
$muted: #99a9b1 !default;
$gray: #5c7b8a !default;

//This table defines the theme colors (variant names)
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "default": $default,
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "muted": $muted,
    "black": $black,
    "gray": $gray,
  ),
  $theme-colors
);

/* layout */
$layout-left-area-width: 254px;
$layout-contents-area-width: calc(100% - 254px);
$layout-top-left-area-width: 180px;
$layout-top-contents-area-width: calc(100% - 110px);
$layout-top-height: 6.25rem;
$layout-top-height-m: 4.063rem;
$layout-top-border-color: #dde4e8;

/* color */
$color-point: #f65454;
$color-required: #eb5757;
$color-disabled: #dfe6e9;
$color-footer: #3155a4;
$color-infographic-green: #20d7ab;
$color-infographic-gray: #bac9d1;
$color-placeholder: #99a9b1;
$color-bg: #e5e5e5;
$color-bg-primary: #4d85ce;

$color-line-100: #d8e5e9;
$color-line-200: #a7bfcb;
$color-line-300: #bac9d1;
$color-line-400: #99a9b1;
$color-line-500: #5c7b8a;

/* sub text color */
$text-sub-1: #989898;
$text-sub-2: #bcbcbc;
$text-sub-3: #5d5d5d;
$text-sub-4: #99a9b1;
$text-sub-5: #2b5e77;
$text-sub-6: #155f83;
$text-sub-7: #1b7fb0;
$text-sub-8: #8fb9d4;
$text-sub-9: #5c7b8a;
$text-sub-10: #3d3d3d;

/* gray */
$gray-100: #f1f7fa;
$gray-200: #eaf0f3;
$gray-500: #a9bcc6;

/* tab */
$color-subtab: #edf2f4;
$color-tabs: #99a9b1;

/* board */
$color-board-border: #5c7b8a;
$board-registration-margin: 3%;
// $board-registration-margin: 50px;

/*form*/
$input-color: #000;
$input-border-color: #bac9d1;
$input-height: 3.125rem; //50px
$input-height-lg: 4.375rem; //70px
$input-padding-x: 1.188rem; //19px
$input-padding-x-lg: 2.5rem; //40px
$input-border-radius-lg: 3.125rem; //50px
$input-font-size: 1rem;
$input-font-size-lg: 1.375rem; //22px
$form-feedback-font-size: 0.875rem; // 14px
$form-feedback-margin-top: 0.563rem; //9px
$border-radius: 5px;
$input-disabled-bg: #eef1f2;
$custom-control-size: 28px;
$custom-control-label-disabled-color: #bac9d1;
$custom-control-indicator-checked-border-color: #cecece;
$custom-control-indicator-focus-border-color: #5c7b8a;
$custom-control-indicator-disabled-border-color: #eef1f2;
$custom-control-indicator-disabled-color: #5d5d5d;
$form-group-margin-bottom: 0;
// $custom-switch-width: 50px;
// $custom-switch-height: 30px;

/*table*/
$table-border-color: #bac9d1;

/*button*/
$btn-font-size: 1rem;
$btn-font-size-sm: 0.875rem; //14px
$btn-font-size-lg: 1.375rem;
$btn-padding-y: 0;
$btn-padding-x: 1.125rem; //18px
$btn-padding-y-sm: 0;
$btn-padding-x-sm: 0.875rem; //14px
$btn-padding-y-lg: 0;
$btn-padding-x-lg: 2.75rem;
$btn-border-radius: 0.313rem;
$btn-border-radius-sm: 0.313rem;
$btn-line-height: 3rem; //48px
$btn-line-height-sm: 2.0625rem; //33px
$btn-line-height-lg: 4rem; //64px

/* grid */
$grid-gutter-width: 0.625rem;

/* modal */
$modal-header-border-width: 0;
$modal-header-padding: 0 0 1.875rem 0;

/* tab */
$nav-tabs-border-width: 0;
$nav-tabs-border-color: #dde4e8;

/* spacing */
$spacer: 1.25rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    //5px
    2:
      (
        $spacer * 0.5,
      ),
    //10px
    3:
      (
        $spacer * 0.75,
      ),
    //15px
    4: $spacer,
    //20px
    5:
      (
        $spacer * 1.25,
      ),
    //25px
    6:
      (
        $spacer * 1.5,
      ),
    //30px
    7:
      (
        $spacer * 1.75,
      ),
    //35px
    8:
      (
        $spacer * 2.5,
      ),
    //50px
    9:
      (
        $spacer * 3,
      ),
    //60px
  ),
  $spacers
);

@function rem($size) {
  @return $size / 16px * 1rem;
}
